.black_btn {
  border-radius: 9999px;
  border: 1px solid black;
  background-color: black;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: white;
  transition: all 150ms linear;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black_btn:hover {
  background: transparent;
  color: black;
}

.outline_btn {
  border-radius: 9999px;
  border: 1px solid black;
  background-color: transparent;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: black;
  transition: all 150ms linear;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outline_btn:hover {
  background-color: black;
  color: white;
}

.clear_btn {
  border: none;
  background: transparent;
  padding: 0.375rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: opacity 150ms linear;
}

.clear_btn:hover {
  opacity: 0.6;
}

.tab_btn {
  flex: 1;
  border: none;
  background: transparent;
  border-bottom: 2px solid transparent;
  color: #666;
  font-size: 0.9rem;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.tab_btn:hover {
  color: black;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.tab_btn_active {
  flex: 1;
  color: black;
  border: none;
  background: transparent;
  border-bottom: 2px solid transparent;
  font-size: 0.9rem;
  padding: 0.5rem 1.25rem;
  cursor: none;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in-out;
}
